body {
  overflow: hidden;
}
* {
  font-family: "Poppins", sans-serif;
}
#btn-No {
  transition: 0.1s all;
}

@media only screen and (max-width: 320px) {
  #img {
    height: 200px;
  }
  button {
    font-size: 10px;
  }
}
